.resources-splide {
  margin-top: 40px;

  .splide__slide {
    height: auto;
  }

  .splide__arrow {
    background: transparent;
    box-shadow: none;

    &:hover {
      background: transparent;
    }

    svg {
      fill: var(--black);
    }
  }

  .splide__pagination {
    bottom: -3rem;

    &__page.is-active {
      background: var(--red);
    }
  }
}


  .resource-card {
    height: 100%;
    text-align: center;

    img {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }
  }
