.content {
    margin-bottom: 50px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px;
}

  strong {
    display: inline-block;
    min-width: 80px;
    color: var(--off-black);
  }

  a {
    color: var(--red);
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: var(--black);
      text-decoration: underline;
    }
  }

  @media (min-width: 800px) {
    .contact-container {
      padding: 50px;
    }
  }