html {
  scroll-behavior: smooth;
}

:root {
  --black: #151515;
  --white: #ffffff;
  --off-white: rgba(255, 255, 255, 0.7);
  --border-color: #cbcbcb;
  --red: #4a1016;
  --beige: #F0EEE9;
}

// ====================
// Base Styles
// ====================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Zalando Sans;
}

.solid-bg #body-wrapper {
  margin-top: 0 !important;
}

#body-wrapper {
  margin-top: 66px;
  position: relative;
  z-index: 1;
}

.content {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 50px 20px;
}

h1 {
  font-family: "League Gothic";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 100%;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-family: "League Gothic";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 42px;

}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 12px;
}

.button {
  display: inline-flex;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  gap: 4px;

  &.primary {
    background-color: var(--red);
    color: var(--white);
  }

  &.secondary {
    background-color: var(--beige);
    color: var(--black);
  }

  &.tertiary {
    background-color: var(--black);
    color: var(--white);
  }

  &.large {
    padding: 16px 24px;
    font-size: 16px;
    border-width: 2px;
  }

  &.medium {
    padding: 8px 16px;
    font-size: 16px;
    border-width: 2px;
  }

  &.small {
    padding: 5px 12px;
    font-size: 12px;
    border-width: 1px;
  }
}


// Desktop styles
@media (min-width: 800px) {
  #body-wrapper {
    margin-top: -124px;
  }

  .solid-bg #body-wrapper {
    margin-top: 0 !important;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  .content {
    padding: 80px 20px;
  }
}