html {
  scroll-behavior: smooth;
}

:root {
  --black: #554B41;
  --off-black: #6f6963;
  --white: #fffcf7;
  --off-white: #FDF8EF;
  --border-color: #B0ACA8;
  --border-color-dark: #9d9791;
  --red: #8b2635;
  --beige: #eae6dd;
}

// ====================
// Base Styles
// ====================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "PT Serif", serif;
  background-color: var(--off-white);
  color: var(--black);
}

#body-wrapper {
  padding-top: 85px;
}

.content {
  max-width: 1200px;
  margin: auto;
  width: 100%;
    padding: 60px 20px;
}

h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 32px;
  text-align: center;
}

.main-h1 {
  margin-bottom: 12px;
}

h2 {
  margin-bottom: 24px;
  font-family: "PT Serif", serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-family: "PT Serif", serif;

  font-weight: 500;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 12px;
  font-family: "PT Serif", serif;

  max-width: 800px;
}

ul {
  list-style-type: none;
}

.button {
  display: inline-flex;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  gap: 4px;
  
  &.primary {
    background-color: var(--red);
    color: var(--white);

    &:hover {
      background-color: #a12e42;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &.secondary {
    background-color: var(--beige);
    color: var(--black);

    &:hover {
      background-color: #e5dfd1;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &.tertiary {
    background-color: var(--beige);
    color: var(--black);

    &:hover {
      background-color: #e5dfd1;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &.large {
    padding: 16px 24px;
    font-size: 16px;
    border-width: 2px;
  }

  &.medium {
    padding: 8px 16px;
    font-size: 16px;
    border-width: 2px;
  }

  &.small {
    padding: 5px 12px;
    font-size: 14px;
    border-width: 1px;
  }
}

// Desktop styles
@media (min-width: 800px) {

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 28px;
  }

}