html {
  scroll-behavior: smooth;
}

:root {
  --black: #554B41;
  --off-black: #6f6963;
  --white: #fffcf7;
  --off-white: #FDF8EF;
  --border-color: #d7d1c5;
  --border-color-dark: #bfb6a6;
  --red: #8b2635;
  --beige: #f0ebe1;
}

// ====================
// Base Styles
// ====================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Noto Serif", serif;
  background-color: var(--off-white);
  color: var(--black);
}

#body-wrapper {
  padding-top: 85px;
}

.content {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 50px 20px;
}

h1 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 32px;
  text-align: center;
}

.main-h1 {
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 24px;
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-family: "Noto Serif", serif;

  font-weight: 500;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 12px;
  font-family: "Zalando Sans", sans-serif;
  max-width: 700px;
}

ul {
  list-style-type: none;
}

.button {
  display: inline-flex;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  gap: 4px;

  &.primary {
    background-color: var(--red);
    color: var(--white);
  }

  &.secondary {
    background-color: var(--beige);
    color: var(--black);
  }

  &.tertiary {
    background-color: var(--beige);
    color: var(--black);
  }

  &.large {
    padding: 16px 24px;
    font-size: 16px;
    border-width: 2px;
  }

  &.medium {
    padding: 8px 16px;
    font-size: 16px;
    border-width: 2px;
  }

  &.small {
    padding: 5px 12px;
    font-size: 14px;
    border-width: 1px;
  }
}

.page-header {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
}

.divider-container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 0 20px 50px;
}

.funky-lines {
  width: 100%;
  height: 22px;
  position: relative;
  background-image: url('./images/lines.svg');
  background-repeat: repeat-x;
  position: relative;
}

.funky-lines:before {
  content: '';
  width: 43px;
  height: 22px;
  position: relative;
  background-image: url('./images/crossover.svg');
  background-repeat: no-repeat;
  position: absolute;
  left: 15%;
}

.funky-lines:after {
  content: '';
  width: 43px;
  height: 22px;
  position: relative;
  background-image: url('./images/crossover.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 15%;
}

  .panel-border{
    position: relative;
    border: 36px solid transparent; /* control the offset of the lines */
    outline: 1px solid #b0aca8; /* adjust the 2px here */
    outline-offset: -18px; /* control the offset of the rectangle */
    background: conic-gradient(
        from 90deg at 1px 1px,
        #0000 25%,
        #b0aca8 0
      );
    
    &::before {
      content: '';
      position: absolute;
      inset: 2px;
      background-color: var(--white);
      z-index: -1;
    }
  }


// Desktop styles
@media (min-width: 800px) {

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 28px;
  }

  .content {
    padding: 70px 20px;
  }
}