html {
  scroll-behavior: smooth;
}

:root {
  --black: #554B41;
  --off-black: #6f6963;
  --white: #fffcf7;
  --off-white: #FDF8EF;
  --border-color: #d4d0cc;
  --border-color-dark: #9d9791;
  --red: #8b2635;
  --beige: #eae6dd;
}

// ====================
// Base Styles
// ====================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "PT Serif", serif;
  background-color: var(--off-white);
  color: var(--black);
}

#body-wrapper {
  padding-top: 85px;
}

.content {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 50px 20px;

  &.home {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 80px;
}

.pagination-info {
  color: var(--off-black);
}

h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.main-h1 {
  margin-bottom: 12px;
}

h2 {
  margin-bottom: 12px;
  font-family: "PT Serif", serif;
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-family: "PT Serif", serif;

  font-weight: 500;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 12px;
  font-family: "PT Serif", serif;

  max-width: 800px;
}

ul {
  list-style-type: none;
}

.button {
  display: inline-flex;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 4px;

  &.primary {
    background-color: var(--red);
    color: var(--white);

    &:hover {
      background-color: #a12e42;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &.secondary {
    background-color: var(--beige);
    color: var(--black);

    &:hover {
      background-color: #e5dfd1;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &.tertiary {
    background-color: var(--beige);
    color: var(--black);

    &:hover {
      background-color: #e5dfd1;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &.large {
    padding: 16px 24px;
    font-size: 16px;
    border-width: 2px;
  }

  &.medium {
    padding: 8px 16px;
    font-size: 16px;
    border-width: 2px;
  }

  &.small {
    padding: 5px 12px;
    font-size: 14px;
    border-width: 1px;
  }
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  margin-top: 40px;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-top: 40px;
}

.grid-2-col-narrow {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  margin-top: 40px;
  max-width: 800px;
  margin: auto;
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 0;

  img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .line-art {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-top: 8px;

  }

  h3 {
    text-align: center;
  }
}


// Desktop styles
@media (min-width: 800px) {

  .content {
    padding: 60px 20px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  .grid-3-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-2-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-2-col-narrow {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .grid-3-col {
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .grid-2-col {
    gap: 48px;
  }
}

#fullcalendar {
  *, *::before, *::after {
    box-sizing: content-box;
    margin: revert;
    padding: revert;
  }

  table {
    display: table;
    border-collapse: collapse;
  }

  thead { display: table-header-group; }
  tbody { display: table-row-group; }
  tr { display: table-row; }
  td, th { display: table-cell; }
}

#fullcalendar {
  .fc-daygrid-day-frame {
    min-height: 80px !important;
    height: auto !important;
  }

  .fc-daygrid-body {
    height: auto !important;
  }

  .fc-scrollgrid-sync-table {
    height: auto !important;
  }
}