.content {
    margin-bottom: 50px;
}

.giving-panel {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 32px;

    strong {
        display: inline-block;
        min-width: 140px;
        color: var(--black);
    }

    @media (min-width: 800px) {
        padding: 50px;
    }
}