// ====================
// Hero Section
// ====================

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
  overflow: hidden;
  margin: auto;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  .inner {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
  }

  .hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }

  img {
    height: 200px;
    display: block;
  }
}

@media (min-width: 1350px) {

  .hero-section {
    height: 700px;
  }
}