.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

// Add flex layout to content container
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.button-container {
  .button {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Reduce heading margins for home page
h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 16px;
  font-weight: 600;
}

h3 {
  margin-bottom: 12px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
  overflow: hidden;
  margin: auto;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    z-index: 1;
  }

  .hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
}

.welcome-section {
  text-align: center;
}

.parish-panel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

.parish-section {
  h3 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .update-card {
    flex-direction: row;

    img {
      width: 50%;
      max-width: 600px;
    }
  }

  .parish-panel {
    padding: 50px;
  }
}

@media (min-width: 1024px) {
  h1 {
    margin-bottom: 24px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .content {
    gap: 120px;
  }
}

@media (min-width: 1350px) {
  .hero-section {
    height: 500px;
  }
}
