// ====================
// Library Page Styles
// ====================

.library-container {
  display: flex;
  flex-direction: column;
  gap: 40PX;
  margin: 50px auto 0;
  max-width: 800px;
}


.library-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

  img {
    width: 100%;
    display: block;
    height: 120px;
    margin-bottom: 20px;
  }
}

h2 {
  text-align: center;
  margin-bottom: 45px;

}

h3 {
  margin-bottom: 16px;
  text-align: center;
  font-size: 18px;
}

.pdf-grid {
  display: flex;
  flex-direction: column;
  gap: 48px;
}



.pdf-card {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
  padding-bottom: 48px;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    .pdf-title {
      color: var(--red);
    }
  }
}


.pdf-actions {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

// ====================
// Responsive Design
// ===================

@media (min-width: 800px) {
  .library-container {
    flex-direction: row;
  }
}