
.desktop-navbar {
  width: 100%;
  display: none;
  z-index: 100;
  .desktop-navbar-container {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    max-width: 1200px;

    .logo {
      height: 170px;
      display: block;
    }

    .social {     
      margin-right: 12px;

      a {
        width: 24px;
        height: 24px;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;

      ul {
        list-style: none;
        display: flex;
        gap: 32px;
        min-width: 237px;

        li {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: var(--black);
            border-radius: 4px;
            transition: color 0.3s ease;
            font-size: 15px;
            font-weight: 500;
            font-family: "PT Serif", serif;
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.mobile-navbar {
  z-index: 1000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: var(--off-white);

  .logo {
    width: 100%;
    max-width: 300px;
    display: block;
  }

  .mobile-navbar-container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    gap: 32px;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }


  .menu-toggle {
    display: none;
  }

  .hamburger {
    position: relative;
    top: -1px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1100;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--black);
      border-radius: 2px;
      transition: 0.3s;

      &:nth-child(1) {
        top: 4px;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }
  }

  // Menu toggle states
  .menu-toggle:checked~.mobile-navbar-container .hamburger span {
    &:nth-child(1) {
      top: 12px;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      top: 12px;
      transform: rotate(-45deg);
    }
  }
}

.offcanvas-menu {
  position: fixed;
  top: 0;
  right: -80vw;
  width: 80vw;
  max-width: 340px;
  height: 100vh;
  background: #141414;
  transition: right 0.3s ease;
  z-index: 1050;

  .menu-items {
    margin: 80px 20px 36px 20px;

    ul {
      display: flex;
      gap: 4px;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      margin-bottom: 32px;

      li {
        width: 100%;
        text-decoration: none;
        display: block;

        a {
          display: block;
          color: var(--white);
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;
          padding: 16px 32px;
        }
      }
    }
  }
}

.offcanvas-backdrop {
  display: none;
  position: fixed;
  z-index: 1049;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.32);
  transition: opacity 0.3s;
  cursor: pointer;
}

// Menu toggle global states
.menu-toggle:checked~ {
  .offcanvas-backdrop {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  .offcanvas-menu {
    right: 0;
  }
}

// ====================
// Footer
// ====================

footer {
  background-color: var(--red);
  color: var(--white);
  text-align: center;

  .content {
    padding: 50px 20px;
    z-index: 2;
    position: relative;
  }

  .google-map {
    border-radius: 12px;
    margin-bottom: 32px;

    iframe {
      border-radius: 12px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    margin-bottom: 60px;

    a {
      text-decoration: none;
      color: var(--beige);
      border-radius: 4px;
      transition: color 0.3s ease;
      font-size: 15px;
      font-weight: 500;
      font-family: "PT Serif", serif;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}


  // Desktop styles
  @media (min-width: 800px) {

    footer {
      .links {
        flex-direction: row;
      }
    }

    .header-bg {
      display: block;
      width: 100%;
      height: 164px;
      z-index: -1;
      background-color: var(--black);
    }

    .mobile-navbar {
      display: none;
    }

    .desktop-navbar {
      display: flex;

    }
  }