// Mobile first styles
.posts-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 0 auto 2rem;
  max-width: 800px;
}

.post-card {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;

  &:hover {

    h2,
    p {
      color: var(--red);
    }
  }

  .post-hero-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .post-hero-image[src*="cross.svg"] {
    object-fit: contain;
    background-color: var(--beige);
    width: 100%;
    height: 200px;
    padding: 50px 0;
  }

  .post-card-content {
    flex: 1;
  }

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .post-date {
    color: var(--off-black);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--off-black);
    line-height: 1.6;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 50px 0;
}

.pagination-info {
  color: var(--off-black);
}

// Tablet - 2 columns
@media (min-width: 600px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Desktop - 3 columns
@media (min-width: 1000px) {
  .posts-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  .post-card {
    h2 {
      font-size: 1.375rem;
    }

    p {
      font-size: 0.9375rem;
    }
  }
}