.service {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    text-align: center;

    img {
        width: 100%;
        display: block;
        height: 200px;

    }

    p {
        color: var(--off-black);
    }

    .inner {
        display: flex;
        flex-direction: column;

        .service-header {
            margin-bottom: 8px;
        }
    }
}

.grid-2-col-narrow {
    margin-bottom: 100px;
}

h2 {
    text-align: center;
}

.calendar-header {
    border-top: 1px solid var(--off-black);
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    // Diamond in center of top border
    &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 50%;
        width: 8px;
        height: 8px;
        background-color: var(--off-white);
        border: 1px solid var(--off-black);
        transform: translateX(-50%) rotate(45deg);
        z-index: 1;
    }
}




@media (min-width: 800px) {
    .regular-schedule {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;

        .service {
            width: 100%;
        }
    }
}