

.regular-schedule {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 55px;

    .service {
        display: flex;
        align-items: center;
        gap: 32px;
        flex-direction: row;

        img {
            width: 80px;
            height: 120px;
            display: block;
            object-fit: contain;
            object-position: center;
        }
        
        p {
            color: var(--off-black);
        }

        .inner {
            display: flex;
            flex-direction: column;
        }
    }
}
    .iframe-container {
        background-color: var(--beige);
        border: 1px solid var(--border-color);
        border-radius: 12px;
        overflow: hidden;
        height: 600px;
    }



@media (min-width: 800px) {
    .regular-schedule {
        display: flex;
        flex-direction: row;
        gap: 80px;
    }
}