---
import Layout from "../layouts/Layout.astro";
import PageH1 from "../components/PageH1.astro";

---

<Layout title="Contact - St. Nicholas Orthodox Church">
  <div id="body-wrapper">
    <div class="content">
      <PageH1 title="Contact" />


    </div>
  </div>
</Layout>
