---
import Layout from "../layouts/Layout.astro";
import PageH1 from "../components/PageH1.astro";
---

<Layout
  title="Contact Us - St. Nicholas Orthodox Church"
  description="Contact St. Nicholas Orthodox Church Christchurch for clergy details, phone numbers, email, and parish location information."
>
  <link rel="stylesheet" href="/contact.css" />

  <div class="content">
    <PageH1 title="Contact Us" subheader="Please feel free to contact us" />

    <div class="contact-page">
      <div class="contact-row">
        <div class="contact-card">
          <img src="/images/placeholder-profile.svg" alt="" class="contact-avatar" width="120" height="120" />
          <h2 class="section-heading">Father Valentin Basiuk</h2>
          <ul class="contact-list">
            <li><a href="tel:+6433320514">Ph. 03 332 0514</a></li>
            <li><a href="tel:+64279038343">Mob. 027 903 8343</a></li>
            <li><a href="mailto:valentinbasiuk@gmail.com">valentinbasiuk@gmail.com</a></li>
          </ul>
        </div>

        <div class="contact-card">
          <img src="/images/placeholder-profile.svg" alt="" class="contact-avatar" width="120" height="120" />
          <h2 class="section-heading">Deacon Vladimir Filipovich</h2>
          <ul class="contact-list">
            <li><a href="tel:+6433588816">Ph. 03 3588816</a></li>
            <li><a href="tel:+64210306703">Mob. 021 030 6703</a></li>
            <li><a href="mailto:deacon@svetinikola.org.nz">deacon@svetinikola.org.nz</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</Layout>
