---
import Layout from "../layouts/Layout.astro";
import PageH1 from "../components/PageH1.astro";

---

<Layout title="Giving - St. Nicholas Orthodox Church">
    <div class="content">
      <PageH1 title="Giving" />


    </div>
</Layout>
