---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - stnicholas.github.io">
  <link rel="stylesheet" href="/home.css" />
  <div id="body-wrapper">
    <div class="hero-section">
      <img
        class="hero-img"
        src="/images/banner.webp"
        sizes="100vw"
        alt="St Nicholas hero banner"
        loading="eager"
        fetchpriority="high"
        decoding="async"
        width="1600"
        height="900"
      />
    </div>
  </div>
</Layout>
