---
import Layout from "../layouts/Layout.astro";
import PageH1 from "../components/PageH1.astro";
---

<Layout title="Schedule - St. Nicholas Orthodox Church">
  <link rel="stylesheet" href="/schedule.css" />
  <div class="content">
    <PageH1
      title="Schedule"
      subheader="Join us for our weekly services at St. Nicholas Orthodox Church. All are welcome to attend and experience the beauty of Orthodox worship."
    />

    <div class="grid-2-col-narrow">
      <div class="grid-card">
        <img class="line-art" src="/images/line-art/christ.svg" alt="vespers" />

        <div class="inner">
          <h2>Evening service</h2>
          <p>Saturdays at 7:00 PM</p>
        </div>
      </div>
      <div class="grid-card">
        <img
          class="line-art"
          src="/images/line-art/chalice.svg"
          alt="liturgy"
        />

        <div class="inner">
          <h2>Divine Liturgy</h2>
          <p>Sundays at 9:00 AM</p>
        </div>
      </div>
    </div>

    <div class="calendar-section">
      <h2>See the full calendar</h2>
      <div class="iframe-container">
        <iframe
          src="https://calendar.google.com/calendar/embed?src=liamscrase1%40gmail.com&ctz=Pacific%2FAuckland"
          style="border: 0"
          width="100%"
          height="100%"
          frameborder="0"
          scrolling="no"></iframe>
      </div>
    </div>
  </div>
</Layout>
