---
import Layout from "../layouts/Layout.astro";
import PageH1 from "../components/PageH1.astro";
import FullCalendar from "../components/FullCalendar.astro";
---

<Layout title="Schedule - St. Nicholas Orthodox Church">
  <link rel="stylesheet" href="/schedule.css" />
  <link rel="stylesheet" href="/FullCalendar.css" />
  <div class="content">
    <PageH1
      title="Schedule"
      subheader="Join us for our weekly services at St. Nicholas Orthodox Church. All are welcome to attend and experience the beauty of Orthodox worship."
    />

    <div class="grid-2-col-narrow">
      <div class="grid-card">
        <img class="line-art" src="/images/line-art/christ.svg" alt="vespers" />

        <div class="inner">
          <h2 class="service-header">Evening service</h2>
          <p>Saturdays at 7:00 PM</p>
        </div>
      </div>
      <div class="grid-card">
        <img
          class="line-art"
          src="/images/line-art/chalice.svg"
          alt="liturgy"
        />

        <div class="inner">
          <h2 class="service-header">Divine Liturgy</h2>
          <p>Sundays at 9:00 AM</p>
        </div>
      </div>
    </div>

    <div class="calendar-section">
      <h2 class="calendar-header">See the full calendar</h2>
      <FullCalendar />
    </div>
  </div>
</Layout>
