---
import Layout from "../layouts/Layout.astro";
import PageH1 from "../components/PageH1.astro";
import FullCalendar from "../components/FullCalendar.astro";
import "../styles/schedule.scss";
import "../styles/FullCalendar.scss";
---

<Layout
  title="Schedule - St. Nicholas Orthodox Church"
  description="View weekly worship times and upcoming services at St. Nicholas Orthodox Church Christchurch."
>

  <div class="content">
    <PageH1
      title="Schedule"
      subheader="Join us for regular services every Saturday at 7 pm and Sunday at 9 am. Be sure to check the official calendar below for any changes or special services. "
    />

    <div class="main-schedule">
      <div class="service">
        <img class="line-art" src="/images/line-art/christ.svg" alt="vespers" />

        <div class="inner">
          <h2 class="service-header">Vespers</h2>
          <p>Saturdays at 7 pm</p>
        </div>
      </div>
      <div class="service">
        <img
          class="line-art"
          src="/images/line-art/chalice.svg"
          alt="liturgy"
        />

        <div class="inner">
          <h2 class="service-header">Liturgy</h2>
          <p>Sundays at 9 am</p>
        </div>
      </div>
    </div>

    <div id="calendar-section" class="calendar-section">
      <h2 class="calendar-header">See the full calendar</h2>
      <FullCalendar />
    </div>
  </div>
</Layout>
