---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services - St. Nicholas Orthodox Church">
  <div id="body-wrapper">
    <div class="content">
      <h1>Services</h1>
      <iframe src="https://calendar.google.com/calendar/embed?src=liamscrase1%40gmail.com&ctz=Pacific%2FAuckland" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</Layout>
