---
import Layout from "../../layouts/Layout.astro";
import PageH1 from "../../components/PageH1.astro";

const musicPdfs = [
  { name: "Book No. 1 - Oktoechos", file: "Book No. 1 - Oktoechos.pdf" },
  {
    name: "Book No. 2 (I) - The 12 Great Feasts",
    file: "Book No. 2 (I) - The 12 Great Feasts.pdf",
  },
  {
    name: "Book No. 2 (II) - The 12 Great Feasts",
    file: "Book No. 2 (II) - The 12 Great Feasts.pdf",
  },
  { name: "Book No. 3 - Vigil", file: "Book No. 3 - Vigil.pdf" },
  {
    name: "Book No. 4 Part I - Liturgy",
    file: "Book No. 4 Part I - Liturgy.pdf",
  },
];
---

<style>
  @import url("/music.css");
</style>

<Layout title="Music - St. Nicholas Orthodox Church">
  <div class="content">
    <PageH1
      title="Music"
      subheader="Download our collection of Orthodox liturgical music for personal use."
    />
    <div class="grid-3-col">
      {
        musicPdfs.map((pdf) => (
          <div class="grid-card music-item">
            <h3>{pdf.name}</h3>
            <div class="pdf-actions">
              <a
                href={`/music/${pdf.file}`}
                target="_blank"
                class="button primary small"
              >
                View
              </a>
              <a
                href={`/music/${pdf.file}`}
                download
                class="button secondary small"
              >
                Download
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
