---
import Layout from "../../layouts/Layout.astro";
import PageH1 from "../../components/PageH1.astro";

const serviceTextsPdfs = [
  { name: "The Book of Hours", file: "The Book of Hours.pdf" },
  { name: "The Psalter", file: "The Psalter.pdf" },
  { name: "Troparia and Kontakia", file: "Troparia and Kontakia.pdf" },
];
---

<style>
  @import url("/service-texts.css");
</style>

<Layout title="Service Texts - St. Nicholas Orthodox Church">
  <div class="content">
    <PageH1
      title="Service Texts"
      subheader="Access our collection of Orthodox service texts and prayer books."
    />
    <div class="grid-3-col">
      {
        serviceTextsPdfs.map((pdf) => (
          <div class="grid-card service-text-item">
            <h3>{pdf.name}</h3>
            <div class="pdf-actions">
              <a
                href={`/service-texts/${pdf.file}`}
                target="_blank"
                class="button primary small"
              >
                View
              </a>
              <a
                href={`/service-texts/${pdf.file}`}
                download
                class="button secondary small"
              >
                Download
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
