---
const siteTitle = "The Serious Sandwich";
const { currentPath } = Astro.props;
const isHomePage = currentPath === '/';
---

<nav class={`desktop-navbar ${!isHomePage ? 'solid-bg' : ''}`}>
  <div class="desktop-navbar-container">
    <a href="/"><img class="logo" src="/images/logo.svg" alt="" /></a>
    <div class="nav-links">
      <ul>
        <li><a href="/schedule/">Schedule</a></li>
        <li><a href="/parish-life/">Parish Life</a></li>
        <li><a href="/library/">Library</a></li>
        <li><a href="/giving/">Giving</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<nav class={`mobile-navbar ${!isHomePage ? 'solid-bg' : ''}`}>
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <div class="mobile-navbar-container">
    <a href="/"><img class="logo" src="/images/logo.svg" alt="" /></a>
    <label for="menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="offcanvas-menu">
    <div class="menu-items">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/schedule/">Schedule</a></li>
        <li><a href="/parish-life/">Parish Life</a></li>
        <li><a href="/library/">Library</a></li>
        <li><a href="/giving/">Giving</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
  <label for="menu-toggle" class="offcanvas-backdrop"></label>
</nav>
