---
interface Props {
  title: string;
  subheader: string;
}

const { title } = Astro.props;
const { subheader } = Astro.props;
---
<div class="page-header">
  <div class="divider">
    <img src="/images/line-art/divider2.svg" alt="divider" />
  </div>
  <h1 class="main-h1">{title}</h1>
  <p class="h1-subheader">{subheader}</p>
</div>
  