---

---

<div class="panel">
  <div class="panel-bg"></div>
  <div class="diamond top-left"></div>
  <div class="diamond top-right"></div>
  <div class="diamond bottom-left"></div>
  <div class="diamond bottom-right"></div>
  <slot />
</div>


<style>
  .panel {
  position: relative;
  border: 1px solid var(--border-color-dark);
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  max-width: 800px;
  margin: auto;
}
  .panel-bg {
  position: absolute;
  content: '';
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: var(--white);
  z-index: -2;
  border: 1px solid var(--border-color-dark);
}

  .diamond {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--off-white);
    border: 1px solid var(--border-color-dark);
    transform: rotate(45deg);
    z-index: 3;
  }

  .diamond.top-left {
    top: -4px;
    left: -4px;
  }

  .diamond.top-right {
    top: -4px;
    right: -4px;
  }

  .diamond.bottom-left {
    bottom: -4px;
    left: -4px;
  }

  .diamond.bottom-right {
    bottom: -4px;
    right: -4px;
  }


/* .panel:before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 10px;
  right: 10px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  z-index: -1;
}

.panel:after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  z-index: -1;
} */
</style>